/**
 * __ __ ___ ___  _ _ ___  _____ ___ ___ _   _   ___ ___ __ __
 * \ | /|   |  _|| | | _ ||_   _|  _| _ | | | | | __| _ |\ | /
 *  | | | - | | || | |   \  | | | | |   | |_| |_| _||   \ | |
 *  |_| |___|___||___|_|\_| |_| |___|_|_|___|___|___|_|\_||_|
 *
 *
 * YogurtGallery
 * Image gallery with pop-up previews and pagination
 *
 * Kevin Maddox, 2020
 * https://github.com/kevinmaddox/yogurtgallery
 *
**/

/* = Initialization ========================================================= */
#yogurtgallery,
#yogurtgallery * {
    background-image: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* = Style ================================================================== */
.yogurtgallery-item:not(:nth-child(1)) {
    background: #808080;
    border: 1px solid black;
}

.yogurtgallery-item:not(:nth-child(1)):hover {
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to bottom right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
}

.yogurtgallery-item-thumbnail-container {
    border: 1px solid #ffffff;
}

#yogurtgallery-popup {
    background: #e0e0e0;
    border: 1px solid #70758c;
    border-radius: 5px;
}

#yogurtgallery-popup div:nth-child(1) {
    background: #5f5f66;
}

.yogurtgallery-item-thumbnail {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    transition: 0.2s;
    width: 100%;
}

.yogurtgallery-item:hover .yogurtgallery-item-thumbnail {
    opacity: 0.75;
    transform: scale(1.2);
}

/* = Structure ============================================================== */
/* - Main containers -------------------------------------------------------- */
#yogurtgallery {
    display: flex;
    flex-direction: column;
}

#yogurtgallery-gallery,
#yogurtgallery-navigation {
    margin-top: 8px;
}

#yogurtgallery-header {
    text-align: right;
}

#yogurtgallery-gallery {
    display: inline-grid;
    grid-auto-rows: 1fr; /* Makes all rows the same height */
    min-width: 100%;
    user-select: none;
}

#yogurtgallery-navigation {
    display: flex;
    justify-content: space-between;
}

#yogurtgallery-navigation span,
#yogurtgallery-navigation a {
    margin: 2px;
}

/* - Gallery items ---------------------------------------------------------- */
.yogurtgallery-item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    padding-bottom: 100%;
    width: 0;
}

.yogurtgallery-item:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.yogurtgallery-item:not(:nth-child(1)) {
    display: block;
}

.yogurtgallery-item-thumbnail-container {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.yogurtgallery-item-thumbnail {
    background-position: center center;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
}

/* - Image popup window ----------------------------------------------------- */
#yogurtgallery-popup {
    display: none;
    left: 50%;
    padding: 8px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#yogurtgallery-popup div:nth-child(1) {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#yogurtgallery-popup div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

#yogurtgallery-popup-image {
    max-height: 90vh;
    max-width: 90vw;
}

#yogurtgallery-popup-name {
    cursor: default;
    margin-right: 64px;
}
